<p id="notice"><%= notice %></p>

<h1>领用记录</h1>

<table>
  <thead>
    <tr>
      <th>领用人</th>
      <th>物品</th>
      <th>数量</th>
      <th>日期</th>
    </tr>
  </thead>

  <tbody>
    <% @acquires.each do |acquire| %>
      <tr>
        <td><%= acquire.user.name %></td>
        <td><%= acquire.item.name %></td>
        <td><%= acquire.quantity %></td>
        <td><%= acquire.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @acquires %>

