<h1>管理登录</h1>

<p id="notice"><%= notice %></p>
<%= form_with url: center_sessions_path, local: true do |form| %>
  <p>
    <%= form.label 'User' %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label 'Password' %><br>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

