<%= form_with(model: [:center, item], local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= form.label '名称' %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label '库存' %><br>
      <%= form.text_field :stock %>
    </p>
    <%= form.submit %>
  </div>
<% end %>
